@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: oklch(0.6 0.15 185.5);
  --card-foreground: oklch(0.95 0 0);
  --secondary: oklch(0.15 0 0);
  --secondary-foreground: oklch(0.95 0 0);
  --muted: oklch(0.2 0 0);
  --muted-foreground: oklch(0.65 0 0);
  --accent: oklch(0.6 0.15 185.5);
  --accent-foreground: oklch(0.1 0 0);
  --dark-primary: #272730;
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  /* --color-foreground: var(--muted-foreground); */
  /* --color-muted-foreground: var(--muted-foreground); */
  --color-secondary: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-dark-primary: var(--dark-primary);
  /* --color-secondary: var(--secondary-foreground); */
}



/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* @import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: oklch(0.6 0.15 185.5);
  --card-foreground: oklch(0.95 0 0);
  --secondary: oklch(0.15 0 0);
  --secondary-foreground: oklch(0.95 0 0);
  --muted: oklch(0.2 0 0);
  --muted-foreground: oklch(0.65 0 0);
  --accent: oklch(0.6 0.15 185.5);
  --accent-foreground: oklch(0.1 0 0);
  --dark-primary:#272730;
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
} */

body {
  background: var(--background);
  color: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-dark-primary: var(--dark-primary);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: oklch(0.6 0.15 185.5);
    --color-primary: var(--primary);
  --card-foreground: oklch(0.95 0 0);
  --secondary: oklch(0.15 0 0);
  --secondary-foreground: oklch(0.95 0 0);
  --muted: oklch(0.2 0 0);
  --muted-foreground: oklch(0.65 0 0);
  --accent: oklch(0.6 0.15 185.5);
  --accent-foreground: oklch(0.1 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);

  }
} */

.dark, .dark :root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: oklch(0.6 0.15 185.5);
  --color-primary: var(--primary);
  --card-foreground: oklch(0.95 0 0);
  --secondary: oklch(0.15 0 0);
  --secondary-foreground: oklch(0.95 0 0);
  --muted: oklch(0.2 0 0);
  --muted-foreground: oklch(0.65 0 0);
  --accent: oklch(0.6 0.15 185.5);
  --accent-foreground: oklch(0.1 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --dark-primary: #272730;
}

.dark body {
  background: var(--background);
  color: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
